age = 25

In [ ]:
age

In [ ]:
print("Hello World!")

In [ ]:
my_name = "Prabin"
my_age_str = str(25)
print(f"{my_name} is {my_age_str} old.")

In [ ]:
#float
integer = 12/3
print(integer)

In [ ]:
float_division = 12//3

In [ ]:
print(float_division)

In [ ]:
#remainder 
remainder = 12%5
print(remainder)

In [ ]:
#Math Functions
import math 
m = math.sqrt(144)
print(m)

In [ ]:
import numpy as np

In [ ]:
user_name = input("Enter your name?: ")

In [ ]:
1.0e-5

In [ ]:
float = 10e-5
print(float)

In [ ]:
#Complex
c = complex(3 + 4j)
c

In [ ]:
#Changing of type :
#floating to integer and integer to float

In [ ]:
x = 5.55

In [ ]:
int(x)

In [ ]:
#Arithmetic operations:
x = 10
y = 3
print(x + y) #Addition
print(x - y) #Subtraction
print(x /y) #Division
print(x * y) # Multiplication
print(x ** y) #Expomemtian or power
print(x // y) #Floor division
print(x % y) #Modulus or remainder

In [ ]:
#Comparision Operation
#You can compare numbers in python using comparision like <, >, <=, >=, ==, and !=

In [ ]:
#Import math
x = -5.5
print(abs(x)) #absolute
print(round(x)) #round off
print(max(1,2,3)) #maximum number
print(pow(2,4)) #Power it means there is power of 2 in 4
print(math.sqrt(144)) #It is square root function
print(math.cbrt(27)) #It is cube root
print(math.log(10)) #Log value

In [ ]:
!pip install numpy #How to install resources in jupyter?

In [ ]:
#Defining strings:
#You can define a string in Python by enclosing the text un either single or double quotes. Here are some examples:
x = "Hello, World!"
y = " My name is Prabin Thapa."
print(x + y)

In [ ]:
#String methods
#Some common string methods include lower(), upper(), strip(), replace(), and split(). Here are some examples.
x = "Hello World!" 
print(x.strip()) #If there is any space in the string then it will reduce it and show.
print(x.upper())
print(x.lower())
print(x.split(","))
print(x.replace("o" , "a"))
print(x.endswith("World")) #If the word ends with the x or not.

In [ ]:
#String indexing
x = "Hell0, World!"
print(x[0])
print(x[0:4])
print(x[0:]) 
print(x[::-1]) #reverse
print(x[0:5:2]) #stepping up

In [ ]:
#String Formatting:
#You can use string formatting to insert variables or expressions into a string
x = "John"
y = 25
print("My name is %s and I am %d years old." %(x, y)) # % operator
print("My name is {} and I am {} years old.".format(x, y)) #.format()
print("My name is {0} and I am {1} years old.".format(x, y)) #.format()
print(f"My name is {x} and I am {y} years old.") #F-string

In [ ]:
#String concatenation
fst = "Prabin"
mdl = ""
lst = "Thapa"
name = fst + " " + mdl + " " + lst
print(name)

In [ ]:
#Advanced String Formatting with .format()
#Alignment and Padding
s = "Hello, World!"
print("{:_>20}".format(s)) #Right align the string of 20 characters, padded with underscores

#Precision
pi = 3.14

In [ ]:
#Python Sequences Types:
#Lists
x= [1, 2, 3, 4, 5]

In [ ]:
#Accessing Lists:
print(x[2])
print(x[::2])

In [ ]:
#Modifying Lists:
x = [1, 2, 3, 4, 5, 'apple']

x.append(10) #Add item in the end only.
print(x)
x.insert(2, 'apple') #Adds  an items at a specific index in the list
print(x)

x.remove('apple') #Removes the first ccurence of the spev=cified index in the list.
print(x)
x.pop(1) # Removes and returns the item at the specified index
x.pop() #If no index is specified, it removes and returns the last item in the list. It gives last item to us and when we pront x then it will give value without last item.
print(x)

In [ ]:
#Methods of the list:
x = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

In [ ]:
x.sort() #Sorts the list in ascending order
print(x)

In [ ]:
x.sort(reverse=True) #Sorts the list in descending order
print(x)

In [ ]:
x.reverse() #Reverses the order of the items in the list
print(x)

In [ ]:
index = x.index(1) #Return the index of the first occurence of the specified item in the list
print(index)

In [ ]:
count = x.count(1) #Returns the number of items the specified item appears in the list.
print(count)

In [ ]:
#Tuple 
my_tuple = ('Ram', 'Shyam')
print(my_tuple)

In [ ]:
#Slicing tupe is same like slicing list

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
sum = sum(my_tuple)
print(sum)
max = max(my_tuple)
print(max)
min = min(my_tuple)
print(min)

In [ ]:
#Difference in tuple and list:
#Tuple is immutable while list is mutable.
#We cannot add and pop out elements of tuple.

In [ ]:
#Set
my_set = {1, 2, 3, 4, 5}
print(my_set)

In [ ]:
#Advanced Set operation
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
#Union
union = set1.intersection(set2)
print(union)

In [ ]:
#Modifying set
#Add
#Remove
#Discard

In [ ]:
#Mapping Type
#1. Dictionary
friends = {"name": "Prabin", "age": 30, "city": "Kathmandu"}
print(friends['name'])
print(friends['age'])
#If you want to add key to the dictionary.
friends['name'] = 'Shyam'
print(friends)

In [ ]:
#Methods in Dictionaries
#Some commonly used methods in Puthon Dictionaries . .keys(), values(), items(), pop(),  copy(), clear()
friends = {"name": "Prabin", "age": 30, "city": "Kathmandu"}
print(friends.keys())

In [ ]:
friends = {"name": "Prabin", "age": 30, "city": "Kathmandu"}
print(friends.values())

In [ ]:
friends = {"name": "Prabin", "age": 30, "city": "Kathmandu"}
print(friends.items())

In [ ]:
friends = {"name": "Prabin", "age": 30, "city": "Kathmandu"}

In [ ]:
city = friends.pop("city", "NY") #Providing a default values avoids keyerrors
print(city) #If there is no city mention then print will come out as NY.

In [ ]:
#Python Boolean Type:
a = 5 
b = 10 
c = (a>b)
d = (a<b)
print(c)
print(d)

#add, or and not

In [ ]:
x = 10
y = 0
s = 'Hello'
t = ''
lst = [1,2,3]
empty_lst = []
dct = {"a": 1, "b":2}
empty_dct = {}
obj = object()
none_obj = None

In [ ]:
print(bool(x))

In [ ]:
print(bool(y))

In [ ]:
print(bool(s))

In [ ]:
print(bool(t))

In [ ]:
print(bool(lst))

In [ ]:
print(bool(empty_lst))

In [ ]:
print(bool(dct))

In [ ]:
print(bool(empty_dct))

In [ ]:
print(bool(obj))

In [ ]:
print(bool(none_obj))

In [ ]:
#Binary type:A bytes object is an immutables sequence of bytes, while a bytearray object is a mutable sequence.
b = bytes([1, 2, 3, 4, 5])
print(b)

In [ ]:
s= "Hello, World!"
b = s.encode()
print(b)

# Conditional Statement

Python Control Statements:
direct the flow of execution in a program,
allowing for conditional execution
repeated execution, and
the selection among different paths,

Python control statements
Conditional statements: if, 
Loop statements: 
comprehension:

If Statement

In [ ]:
x = 10
y = 5
if x>0 and y>0:
    print("Both x and y are positive.")

x = -10
if x>0:
    print("x is positive.")
else:
    print("x is not positive.")

friends = {'Prabin', 'Sujan', 'Laxman'}
user_name = input("Enter your name: ")
if user_name == friends:
    print('You are my relatives.')
else:
    print('Hello new person.')

x = 10 

if x < 0:
    print('x is negative')
elif x == 0:
    print('x is zero.')
else:
    print('X is positive')

#### Question 1: WAP to check if number is positive, negative or zero.

In [ ]:
x = int(input("Enter a number: "))
if x > 0:
    print(f"Given number {x} is positive.")
elif x < 0:
    print(f"Givem number {x} is negative.")
else:
    print(f"Given number {x} is nothing.")

#### Question 2: WAP to grade a number (100-80) Grade A, (80-60) Grade B, (60-40) Grade C and less than 40 Grade D.

```python
Grade_number = int(input('Enter your grade: '))
if Grade_number>=80 and Grade_number == 100:
    print('Grade A')
elif Grade_number>=60 and Grade_number < 80:
    print('Grade B')
elif Grade_number>=40 and Grade_number < 60:
    print('Grade C')
else: 
    print('Grade D')
```

# Python Loop Statements:

1. Python For loop

```python
for variable in sequence:
    do something
```

In [ ]:
#Example:
fruits = ['apple', 'banana', 'cherry'] #For loop iterate over each element in the fruits list.
for fruit in fruits:
    print(fruit)

The range fucntion is commonly used for loops to generate a sequrence of integers, here is an example:

In [ ]:
list(range(0,10,2))

In [ ]:
for i in range(5):
    print(i)

Nested Loops:

In [ ]:
adej = [ "red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for a in adej:
    for f in fruits:
        print(a, f)

#### Question 1: Write a Program to calculate the sum of the first N Natural Number:

In [1]:
num = int(input("Enter a number: "))
sum = 0
for value in range(num + 1):
    sum = sum + value
print(f"Sum 0f {num} natural number is {sum}.")

Enter a number:  12

Sum 0f 12 natural number is 78.

#### Question 2: Write a Program to Display the Multiplication Table of a Given Number:

Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

In [ ]:

for i in range(1,5):
    print("*" * i)

In [3]:
for i in range(1, 5):
    for j in range(i):
        print("*", end = "")
    print("")

*
**
***
****

### While Loop:

In [ ]:
i = 0 
while i<5:
    print(i)
    i += 1

In [ ]:
count = 0 
while count<10:
    print(count)
    count += 1

Break and continue

In [ ]:
count = 0 
while count < 10:
    print(count)
    count += 1
    if count == 3:
        break

#### Question 1: Write a Program to calculate the sum of the first N Natural Number:

In [ ]:
num = int(input("Enter a number: "))
sum = 0 
i = 0
while i <= num:
    sum += num
    i += 1
print(f"Sum of {num} numbers is {sum}.")

#### Question 2: Write a Program to Display the Multiplication Table of a Given Number:

In [4]:
num = int(input("Enter a number: "))
i = 1
while i <= 10:
    multiple = num * i
    print(f"{num} x {i} = {multiple}")
    i += 1

Enter a number:  10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

### List Comprehensions:

In Python, comprehensions provide a concise way to create sequences like lists, dictionaries, sets. They are more readable and often more efficient alternative to using
traditional loops to generate sequences.

Basic Syntax:
output = [expression for items in sequence if condition] #Comprehension is done until and unless it is produced in certain sequence. List cha vanay list ma matra hunu paryo
Only one expression is possible for one code.

In [2]:
numbers = [1, 2, 3, 4, 5]
squares = []
for each in numbers:
    squares.append(each ** 2)
print(squares)

[1, 4, 9, 16, 25]

In [3]:
#List comprehension way:
squared = [num ** 2 for num in numbers]
print(squared)

[1, 4, 9, 16, 25]

##### Find the length of wach word in words = ['data', 'science', 'machine', 'learning']

In [7]:
words = ['data', 'science', 'machine', 'learning']
result = []
for word in words:
    result.append(len(word))
print(result)

[4, 7, 7, 8]

In [8]:
words = ['data', 'science', 'machine', 'learning']
Each_word = [len(word) for word in words]
print(Each_word)

[4, 7, 7, 8]

In [11]:
#List comprehension with conditions:
ages = [32, 22, 34, 35, 45]
odd_age = [age for age in ages if age%2==1]
print(odd_age)

[35, 45]

In [13]:
numbers = [1,2,3,4,5,7]
even_num = [num for num in numbers if num%2==0] 
print(even_num)

[2, 4]

In [14]:
#Complex form of list comprehension.
friends=["Rolf", "Shyam", "Ram"]
family=["Shyam", "Hari", "Ram"]
friends_lower = set([f.lower() for f in friends])
family_lower =set([g.lower() for g in friends])

In [15]:
#Nested list comprehension:
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
pairs = [(letter, number) for letter in letters for number in numbers]
print(pairs)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [17]:
adj = ["red", "big", "ripe"]
fruits = ["apple", "banana", "Melon"]
pairs = [(a, f) for a in adj for f in fruits ]
print(pairs)

[('red', 'apple'), ('red', 'banana'), ('red', 'Melon'), ('big', 'apple'), ('big', 'banana'), ('big', 'Melon'), ('ripe', 'apple'), ('ripe', 'banana'), ('ripe', 'Melon')]

#### Write a Python program that uses list comprehension to create a list containing the double of all positive numbers from the following list: [-2, -1, 0, 1, 2, 3, 4]. Print the final list.

In [45]:
lst = [-2, -1, 0, 1, 2, 3, 4]
positive_num_doubled = [li * 2 for li in lst if li>0]
print(positive_num_doubled)

[2, 4, 6, 8]

### Dictionary Comrehension:

basic syntax:
new_dict = {key_expression: value_expression for item in iterable if condition}

In [23]:
 #dict ={key = value for item in iterable if condition}

In [25]:
numbers = [1, 2, 3, 4, 5]
odds_dict = {}
for num in range(1,6):
    if num%2 != 0:
        odds_dict[num] =num **2
print(odds_dict)

{1: 1, 3: 9, 5: 25}

In [26]:
numbers = [1, 2, 3, 4, 5]
odds_dict = {num:num**2 for num in numbers if num!=0}
print(odds_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

##### Find the length of wach word in words = ['data', 'science', 'machine', 'learning'] ans store as {word:length ...}

In [27]:
words = ['data', 'science', 'machine', 'learning']
word_with_dict = {word:len(word) for word in words}
print(word_with_dict)

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}

##### Find the length of wach word in words =  ['data', 'science', 'machine', 'learning', 'deep', 'python', 'dict']
#### Also add a condition if word is that have length 5 or greater.

In [30]:
words = ['data', 'science', 'machine', 'learning', 'deep', 'python', 'dict']
word_with_dict = {word:len(word) for word in words if len(word)>=5}
print(word_with_dict)

{'science': 7, 'machine': 7, 'learning': 8, 'python': 6}

### Set Comprehension

Set comprehension is a concise way to create a new set by transforming an exisiting iterable (such as list or tuple). It provides a compact syntax for mapping 
a given iterable to a new set by specific expression to each element in the iterable.

#Basic Syntax
new_set = {expression for item in iterable if condition}

In [32]:
numbers = [1, 2, 3, 4, 5]
result = {each * 2 for each in numbers}
print(result)

{2, 4, 6, 8, 10}

In [33]:
numbers = {-2, -1, 0, 1, 3, 4, 3}
result = {each * 2 for each in numbers if each > 0}
print(result)

{8, 2, 6}

In [34]:
#nested set

#### Write a Python program that uses set comprehension to create a set of all unique vowels found in the following string: "Hello, world!". Print the set.

In [50]:
string = "Hello, world!"
vowels = set('aeiou')

results = {vow for vow in string if vow in vowels}
print(results)

result = {vow for vow in string for vowel in vowels if vowel==vow}
print(result)

{'e', 'o'}
{'e', 'o'}

In [52]:
sent = "The quick brown for jump over a lazy dog"
vowels = set("aeiou")
output = {char for char in sent if char in vowels}
print(output)

{'a', 'e', 'o', 'i', 'u'}

In [54]:
sent = set("Hello, World!") #String ko bhitra ko sabbai element niskincha
print(sent)

{',', 'e', 'W', '!', 'o', 'r', 'l', ' ', 'H', 'd'}

# Functions in Python:

## Built-in Function:

### 1. print()

In python print function ate used to perform output task in your code

In [2]:
x = 6
y = x + 2
print("The sum of y is:", y) #Printing a variable value.
print("x is ", x and "y is ", y) #Printing multiple items using commas to separate them.
print("Hello, woeld", sep="-") #Using swparator
print("Hello world", end="") #Using end at line

The sum of y is: 8
x is  y is  8
Hello, woeld
Hello world

### 2.type()

In [3]:
print(type(12))
print(type("Hello, woeld!"))
print(type(3.13))

<class 'int'>
<class 'str'>
<class 'float'>

### 3. input()

Tn Python, the input() function is used to accept input from the user to enter a calue and then return the entered calue as a string.

In [19]:
name = input("Enter your name: ")
print(f"My name is {name}")

Enter your name:  Prabin

My name is Prabin

### 4. len()

In python, len() function is used to get the length of a sequence (list, tuple).

### 5. open()

In python the open() fucntion is used to open a file and return a file object.

In [34]:
file = open("README.md", "r") #open a file for reading only
contents =file.read()  #Read the contents in the files
print(contents) 
file.close() # close the file

# vritEducation
It is about storing our code files inside it. It is specially from vrit education purpose.

There are 6 access modes in Python:
a. Read only('r')
b. Read and Write{'r+')
c. Write only ('w') #It will erase all the existing things and start to write
d. Write and Read ('w+')
e. Append only ('a')
f. Append and Read('a+')

### 6. dir()

In [35]:
x = "Hello"
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [36]:
dir()

['In',
 'Out',
 '_',
 '_23',
 '_29',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'contents',
 'doubled_list',
 'exit',
 'file',
 'get_ipython',
 'i',
 'list',
 'list1',
 'list2',
 'lst',
 'lst1',
 'lst2',
 'my_list',
 'name',
 'names',
 'open',
 'quit',
 'x',
 'y',
 'zipped_list']

### 7. enumerate()

In Python the enumerate() function use to iterate over a sequence such as list or tuple and return a sequence of tuple containing the index and value of each element in the original sequence,

In [37]:
names = ["Ram", "Alice", "Rolf"]
for name in enumerate(names):
    print(name)

for name in enumerate(names, start=1):
    print(name)

for i, name in enumerate(names, 1):
    print(i, name)

(0, 'Ram')
(1, 'Alice')
(2, 'Rolf')
(1, 'Ram')
(2, 'Alice')
(3, 'Rolf')
1 Ram
2 Alice
3 Rolf

### 8. zip()

The zip() function in python is used to combine two or more iterables[e.g. lists or tuples) into a single iterables that returns tuples containing the corresponding elements from each input iterable.

In [48]:
lst1 = ['a', 'b', 'c']
lst2 = [1, 2]
zipped_list = list(zip(lst1, lst2))
print(zipped_list)

TypeError: 'list' object is not callable

In [50]:
list

[1, 2, 3, 4, 5, 6]

### 9. map()

The map() function in python applies a given function to eaxh item of an iterable(e.g. tuple or list) and return a map object.

In [17]:
my_list = [1, 2, 3, 4, 5]
doubled_list = list(map(lambda x: x* 2, my_list))
print(doubled_list)

TypeError: 'list' object is not callable

## User-Defined Function:

Basic Syntax
def define_function(arg1, arg2, ......):
    ```Documentation```
    do something

In [25]:
def arguments(*arg, **kwarg):
    print("Positional Arguments")
    for value in arg:
        print(value)
    print("-" *25)
    print("Keyword Arguments")
    for key, value in kwarg.items():
        print(key, ": ", value)

print(arguments("Hello", "Shyam", 3, name="Prabin", gender="Male", age=22))

Positional Arguments
Hello
Shyam
3
-------------------------
Keyword Arguments
name :  Prabin
gender :  Male
age :  22
None

#### Calculate st deviation:

In [16]:
import math 
from math import sqrt
def std_deviation(lst):
    N = len(lst)
    x_bar = sum(lst)/ N
    square = sum((x-x_bar)**2 for x in lst)
    std_deviation = sqrt(square/ N)
    return std_deviation
print(std_deviation([1, 2, 3, 4, 5, 6]))

1.707825127659933

### Area of FOur walls : 

function ( h,  l,  b) =  2h ( l + b )

In [17]:
def area_wall(l,b,h):
    area = 2 * ( l + b) * h
    return area

print(area_wall(1, 4, 6))

60

### Class Discussion :
### **Write a Program to Define a Function `describe_pet`** that accepts a variable number of keyword arguments (`**kwargs`).

The function should print the details of these keyword arguments as "property: value". Call this function with pet details like name, age, and type.

In [18]:
def describe_pet(**kwarg):
    for key, value in kwarg.items():
        print(f"{key} : {value}")
        
print(describe_pet(name = "Volcano", age = 4, type = "Classic"))

name : Volcano
age : 4
type : Classic
None

## lambda Function:

Basic SyntaxL
lambda arguments : expressions

In [19]:
x = lambda a, b : a+b
print(x(1, 3))

4